
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;300&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
body{
  background-color: rgb(0, 0, 0);
  color: #ffffff;
}
.header{
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  padding:20px 10%;
  background-color: rgba(0, 0, 0, 0.6);
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;

}
.logo{
  font-size: 25px;
  color: #ffffff;
  text-decoration: none;
  font-weight: 600;
}
.navbar a{
  font-size: 18px;
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: .3s;

}
.navbar a:hover{
  color: #f08000;
}
.log{
  border-radius: 50%; 
  width: 50px; 
  height: 50px;
  cursor:pointer;
}
.home{
  height: 100vh;
  background: url('image/actualback1.png') no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  padding :0 10%;
  justify-content: center;
}
.homedes{
  max-width: 900px;

}
.homedes h1{
  text-align: center;
  font-size: 56px;
  font-weight: 720;
  line-height: 1.2;
}
.homedes h3{
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  color: rgb(243, 85, 12);
}
.homedes p{
  font-size: 17px;
  margin:20px 0 40px;
}
.homedes .btn-box{
  display: flex;
  justify-content: space-evenly;
  width:100%;
  height: 45px;
  padding-left:40px ;
  padding-right: 40px;

}
.btn-box a{
  position: relative;
  border-radius: 5px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 100%;
  background-color: rgb(243, 85, 12);
  border:2px solid rgb(243, 85, 12);
  border-radius: 8px;
  font-size: 19px;
  color:#ffffff;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}
.btn-box a:nth-child(2){
  background: transparent;
  color: rgb(255, 255, 255);
}

.btn-box a:hover{
  color: rgb(243, 85, 12);
}

.btn-box a:nth-child(2):hover{
  color: rgb(243, 85, 12);
}

.btn-box a:nth-child(2)::before{
  background: #ffffff;
  color: rgb(243, 85, 12);
}

.btn-box a::before{
  content: '';
  position: absolute;
  top:0;
  left: 0;
  width: 0;
  height: 100%;
  background: #ffffff;
  z-index: -1;
  transition: 0.5s;
  
}
.btn-box a:hover::before{
  width: 100%;

}
.home2 {
  height: 100vh;
  background: url('image/backgroundimg.png') no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  padding :0 10%;
  justify-content: center;
  min-height: 100vh;
}
.home1 {
  height: 100vh;
  background: url('image/backgroundimg.png') no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  padding :0 10%;
  justify-content: center;
  min-height: 100vh;
}
.leader{
  width: 80%;
  padding: 20px;

}
.leader .submit-btn{
  justify-content: center;
  padding-left: 40%;
  padding-top: 1%;
  border-radius: 4px;
}
.leader h1{
  width:100%;
  color: rgb(255, 255, 255);
  font-size: 50px;
  text-align: center;
  margin-bottom: 10px;
}
.leader .rowline{
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
}
.leader .rowline .inputcol
{
   position: relative;
   width: 100%;
   padding: 0 10px;
   margin: 30px 0 10px;
   transition:0.5s;
}
.leader .rowline .inputfield{
  position: relative;
  width: 100%;
  height: 40px;
  color: white;
}

.leader .rowline .inputfield input,
.leader .rowline .inputfield.textarea textarea
{
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  box-shadow: none;
  outline: none;
  font-size: 18px;
  padding: 0 10px;
  z-index: 1;
  color: #000;
}



.leader .rowline .inputfield .number{
  position: absolute;
  top: 0;
  left: 0;
  line-height: 40px;
  font-size: 18px;
  padding: 0 10px;
  display: block;
  transition: 0.5s;
  pointer-events: none;
}

.leader .rowline .inputfield .text{
  position: absolute;
  top: 0;
  left: 0;
  line-height: 40px;
  font-size: 18px;
  padding: 0 10px;
  display: block;
  transition: 0.5s;
  pointer-events: none;
}

.leader .rowline .inputfield input:focus + .number,
.leader .rowline .inputfield input:valid + .number{
  top: -34px;
  left: -10px;
}

.leader .rowline .inputfield input:focus+ .text,
.leader .rowline .inputfield input:valid+ .text{
  top: -34px;
  left: -10px;
}

.leader .rowline .inputfield .line
{
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 2px;
  background: white;
  transition: 0.5s;
  border-radius: 2px;
  pointer-events: none;
}

.leader .rowline .inputfield input:focus~ .line,
.leader .rowline .inputfield input:valid~ .line{
  height: 100%;
}

.leader .rowline .inputfield.textarea
{
  position: relative;
  width: 100%;
  height: 100px;
  padding: 10px 0;
}

.leader .rowline .inputfield.textarea textarea
{
  height: 100%;
  resize: none;
}

.leader .rowline .inputfield textarea:focus+ .text,
.leader .rowline .inputfield textarea:valid+ .text{
  top: -34px;
  left: -10px;
}

.leader .rowline .inputfield textarea:focus~ .line,
.leader .rowline .inputfield
































textarea:valid~ .line{
  height: 100%;
}

input[type="submit"]
{
  border: none;
  padding: 7px 35px;
  cursor: pointer;
  outline: none;
  background : rgb(243, 85, 12);
  color: #ffffff;
  font-size: 18px;
  border-radius: 2px;
}
.home3 {
  background: url('image/backgroundimg.png') no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.homedes2 {
  
  padding-left: 190px;
  padding-right: 190px;

}

.homedes2 h1 {
  text-align: center;
  font-size: 56px;
  font-weight: 720;
  line-height: 1.2;
  color: #ffffff;
}

.homedes2 h3 {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  color: rgb(255, 255, 255);
}

.homedes2 p {
  font-size: 17px;
  margin: 10px 0 40px;
  line-height: 1.6; 
}

.homedes2 .btn-box {
  display: flex;
  justify-content: center;
}

.homedes2 .btn-box a {
  font-size: 20px;
  display: flex;
  justify-content: center;
  position: relative;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  gap: 10px;
  width:250px;
  height: 50px;
}
.btn-box a:hover {
  transform: translateY(-13px); 
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3); 
}


#login-reg-form{
  margin:calc(60vh - 190px) auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.lr-form{
  width: 45%;
  text-align: center;
  
}

.lr-form form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lr-form input,select{
  margin-bottom: 10px;
  padding: 5px;
  width: 60%;
}

.lr-form button[type="submit"] {
  margin: auto;
  margin-top: 20px;
  width: 150px;
  height: 100%;
  background-color: rgb(243, 85, 12);
  border:2px solid rgb(243, 85, 12);
  border-radius: 3px;
  font-size: 19px;
  color:#ffffff;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}

.lr-form button[type="submit"]:hover {
  background-color: #ffffff;
  color: rgb(243, 85, 12);
}

.lr-form button[type="submit"]:hover::before {
  background: #ffffff;
  color: rgb(243, 85, 12);
}

.new-user{
  all: unset;
  margin-right: 0px;
  font-size: 0.8em;
  margin-top: 10px;
  cursor: pointer;
  margin-top: 10%;
}


.lr-form .flash-container{
  position: fixed;
  margin-top: 60px;
  width: 100%;
  justify-content: left;
  text-align: left;
  border-radius: 9px;
  left:1px;
  z-index: 100;
  margin-right: 0;
  position: fixed;    
  right:2px;
      
      
      
      
    
}


.close-button {
  background: none;
  border: none;
  color: #888;
  cursor: pointer;
  font-size: 14px;
  float: right;
}









.flash-container {
  position: fixed;
  top: 10px;
  right: 10px;
   /* Adjust width as needed */
  
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
}

.flashes {
  list-style: none;
  padding: 0;
  margin: 0;
}

.flashes li {
  padding: 10px;
  margin-bottom: 10px;
  background-color: #e40808; /* Adjust background color */
  color: white;
  border-radius: 5px;
}